@model Test.Entity.Encuentro

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObtenerEncuentroDecimalOdds</title>
</head>
<body>
    <div>
        <h4>Encuentro con probabilidades en Decimal Odds</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.local)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.local)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.visitante)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.visitante)
            </dd>

            @if (Model.jugado == 1)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.marcador_local)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.marcador_local)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.marcador_visitante)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.marcador_visitante)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.probabilidad_local)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.probabilidad_local)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.probabilidad_empate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.probabilidad_empate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.probabilidad_visita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.probabilidad_visita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.jornada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.jornada)
            </dd>

        </dl>
    </div>
    <p>
        @if (Model.jugado == 0)
        {
            @Html.ActionLink("Apostar", "../Apuesta/InsertarApuesta", new { id = Model.id, Odds = 2 })
        }
        else
        {
            <span>El encuentro ha finalizado </span>
        }
        | @Html.ActionLink("Volver", "ListarEncuentros")
    </p>
</body>
</html>
